extends ./layout.jade
block append link
	link(href="classroom.css" rel="stylesheet")
block append script
	script(src="classroom.js")
	script(src="seat.js")
block content
	- var total_width = parseInt(width,10) + 1
	- var total_height = parseInt(height,10) + 1
	body(onload="alignGrid('grid', #{total_width}, 50, 50, 10)")
		div.headContainer
			h1 Generating Classroom
		div.contentContainer
			div.dimensionsContainer
				div.dimensions
					p.currentDim Height: #{height} Width: #{width}
					- var total = height*width
					p.currentDim Cells: #{total}
					p.instructions Select Cells to mark as Left-Handed Seats or as Ghost Seats
					p.instructions Select tiles in the grid by using CMD/CTRL to select multiple tiles, SHIFT to select a range of tiles, or drag to select all tiles within an area.
			div#space
			div#gridContainer
				div#grid.grid
					//- Create height x width table cell classroom
					//- - for (var row = 1; row <= height; row++) {
					//- 	div(class='row row_#{row}')
					//- 		- for (var col = 1; col <= width; col++) {
					//- 			div(class='square seat#{row}_#{col}') 
					//- 		- 	}
					//- 	-	}
					- var alp = 0;
					- for (var seats = 1; seats <= total_width*total_height; seats++)
						- if (seats <= total_width)
							- if (seats == total_width)
								div(class='grid--item cornerGrid')
							- else
								div(class='grid--item seat_number') #{seats}
						- else if (seats % total_width == 0)
							- var chr = String.fromCharCode(65 + alp)
							- alp++
							div(class='grid--item seat_alphabet') #{chr}
						- else
							- var id = "seat" + String.fromCharCode(65 + Math.floor((seats-total_width)/total_width)) + (seats%total_width).toString()
							- console.log(id)
							div(class='grid--item seat_item', id='#{id}', onclick="updateSeat($(this).attr('id'))")
		div#bottom
			div.displayMessage
				div.message
					p If you want to edit dimensions click below:
					b
					div.reedit
						a(onclick="displayDim(#{width},#{height})") 
							| Edit
			div.editDimensions
				div.displayDim
