extends ./layout.jade
block append link
	link(href="classroom.css" rel="stylesheet")
block append script
	script(src="classroom.js")
	script(src="seat.js")
block content
	- var total_width = parseInt(width,10) + 1
	- var total_height = parseInt(height,10) + 1
	body(onload="createClassObject()")
		div.pageContainer
			//- Top of page
			//- Info and checkboxes
			div.headerContainer
				div.heading
					h1 Generating #{name}
				div.informationContainer
					div.dimensionContainer
						div.dimensions
							p.currentDim Height: #{height} Width: #{width}
							- var total = height*width
							p.currentDim Cells: #{total}
							p.instructions Select Checkboxes to mark cells as Left handed or "Ghost"
				div.checkboxesContainer
					div#isGhostSetting.settings
						div.checkbox
							label
								input(type="checkbox", id="ghost_option", class="option")
								| Ghost Seat
					div#isLeftSetting.settings
						div.checkbox
							label
								input(type="checkbox", id="left-handed_option", class="option")
								| Left-Handed Seat
					script.
						$('input.option').on('change', function() {
							$('input.option').not(this).prop('checked', false);
							console.log($(this).attr('id'));
							if ($(this).attr('id') == "ghost_option") {
								if (isGhost)
									isGhost = false
								else 
									isGhost = true;
								isLeftHanded = false;
							}
							else {
								if (isLeftHanded)
									isLeftHanded = false
								else 
									isLeftHanded = true;
								isGhost = false;
							}
						});
			//- Contains grid of the classroom
			div.gridContainer
				//- Create height x width table cell classroom
				- var alp = 0;
				- for (var row = 1; row <= total_height; row++)												
					div(class='row row_#{row}')
						- for (var col = 1; col <= total_width; col++)
							- if (row == 1)
								- if (col == total_width)
									div(class='grid--item cornerGrid')
								- else
									div(class='grid--item seat_number') 
										p.col #{col}
							- else
								- if (col == total_width)
									- var chr = String.fromCharCode(65 + alp)
									- alp++
									div(class="grid--item seat_alphabet")
										p.chr #{chr}
								- else
									- var id = String.fromCharCode(65 + row - 2) + (col).toString()
									- console.log(id)
									div(class="grid--item seat_item", id="#{id}", onclick="updateSeat($(this).attr('id'))")
			//- Contains submit button
			div.bottomPage
				div.message
					p Click to submit classroom
				div.reedit_submit
					form(class="form-inline", name="edit_submit", action="/classroom/seating_chart", method="get")
						input(id="hidden_field", name="name" type="hidden" value="#{name}")
						button(type="submit", class="btn btn-default submitClass") Submit
					script.
						$('.submitClass').click(function() {
							finalGridContainer = $('.gridContainer').html();
							sessionStorage.setItem('all_seats', JSON.stringify(classroom));
							sessionStorage.setItem('width', #{total_width}-1);
							sessionStorage.setItem('height', #{total_height}-1);
							sessionStorage.setItem('finalGridContainer', finalGridContainer);
						});
