extends ./layout.jade
block append link
	link(href="css/lab.css" rel="stylesheet")
block append script
	script(src="js/classroom.js")
	script(src="js/station.js")
block prepend bodyLink
	- var numPerStation = JSON.parse(classroom).numPerStation
	body(onload="createStations(#{numPerStation},#{classroom})")
block labActive
	li(class="active")
		a(href="/createLab")
			i(class="glyphicon glyphicon-console")
			|  Create Lab
block content
	- var parsedClass = JSON.parse(classroom)
	- var parsedRoster = JSON.parse(roster)
	- numGhosts = parsedClass.ghostSeats.length
	- var height = parseInt(parsedClass.height,10)
	- var width = parseInt(parsedClass.width,10)
	- var className = parsedClass.className
	- var totalSeats = parsedClass.totalSeats
	- var totalStudents = parsedRoster.totalStudents
	div(id="page-wrapper")
		div(class="container-fluid")
			div(class="row")
				div(class="col-lg-12")
					h1(class="page-header") Design #[small Begin designing your classroom]
					ol(class="breadcrumb")
						li
							i(class="fa fa-dashboard")
							a(href="/index")  Dashboard
						li(class="active")
							i(class="fa fa-edit")
							|  Create
					p(class="classHeader") Select "Ghost Seat" to mark a ghost seat
					p(class="classHeader") Select "Manually Number" to manually number stations
					p(class="classHeader") Select "Default Fill" to reset number stations to default
					p(class="classHeader") Select "Remove Number" to remove a number from a station
					p(class="classHeader") Select "Remove All Numbers" to clear all the station numbers
			div(class="row")
				div(class="col-md-offset-3 col-lg-6 errorMessage")
			div(class="row")
				div(class="col-lg-12")
					ol(class="breadcrumb")
						li(class="active") 
							span(class="glyphicon glyphicon-wrench")
							|  Classroom Information
					p(class="classInfo currentDim") Height: #{height} Width: #{width}
					p(class="classInfo expectedTotal") Expected Total Seats: #{totalSeats}
					p(class="classInfo actualTotal") Actual Total Seats: #{totalSeats}
					p(class="classInfo numPerStation") Students per Station: #{numPerStation}
					p(class="classInfo totalStudents") Total Students: #{totalStudents}
					input(type="hidden", class="width", value="#{width}")
					input(type="hidden", class="height", value="#{height}")
			div(class="row")
				div(class="col-md-offset-2 col-lg-2")
					label
						input(type="checkbox", id="increase_option", class="option")
						|  Manually Number
				div(class="col-lg-2")
					label
						input(type="checkbox", id="ghost_option", class="option")
						|  Ghost
				div(class="col-lg-2")
					label
						input(type="checkbox", id="fill_option", class="option", checked)
						|  Default Fill
				div(class="col-lg-2")
					label
						input(type="checkbox", id="remove_option", class="option")
						|  Remove Number
				div(class="col-lg-2")
					label
						input(type="checkbox", id="removeAll_option", class="option")
						|  Remove All Numbers
				script.
					$('input.option').on('change', function() {
						$('input.option').not(this).prop('checked', false);
						if ($(this).attr('id') == "increase_option") {
							if (manIncrease)
								manIncrease = false
							else {
								if (!manualClass)
									clearClass()
								manIncrease = true;
								manualClass = true;
							}
							isGhost = false;
							defaultFill = false;
							remove = false;
							removeAll = false;
						} else if ($(this).attr('id') == "ghost_option"){
							if (isGhost)
								isGhost = false
							else 
								isGhost = true;
							manIncrease = false;
							defaultFill = false;
							remove = false;
							removeAll = false;
						} else if ($(this).attr('id') == "fill_option"){
							if (defaultFill)
								defaultFill = false
							else {
								defaultFill = true;
								manualClass = false;
								defaultFillStation($('.width').val(), $('.height').val())
							}
							manIncrease = false;
							isGhost = false;
							remove = false;
							removeAll = false;
						} else if ($(this).attr('id') == "remove_option"){
							if (remove)
								remove = false
							else {
								remove = true;
							}
							manIncrease = false;
							isGhost = false;
							defaultFill = false;
							removeAll = false;
						} else if ($(this).attr('id') == "removeAll_option"){
							if (removeAll)
								removeAll = false
							else {
								removeAll = true;
								clearClass()
							}
							remove = false;
							manIncrease = false;
							isGhost = false;
							defaultFill = false;
						}
					});

			div(class="row")
				div(class="col-lg-12")
					div(class="panel panel-default")
						div(class="panel-heading")
							h3(class="panel-title")
								span(class="glyphicon glyphicon-th")
								|  #{className}
						//- Contains grid of the classroom
						div(class="panel-body")
							div.gridContainer
								//- Create height x width table cell classroom
								//- 1 2 3 4 5
								//- 10 9 8 7 6
								//- 11 12 13 14
								//- ...
								- for (var row = 1; row <= height; row++)
									div(class='row row_#{row}')
										- var offset = 0
										- for (var col = 1; col <= width; col++)
											- var id = ((row-1)*width) + col
											- if (row % 2 == 0)
												- id = ((row-1)*width) + width - offset
												- offset++
											div(class="grid--item station_item", id="#{id}", onclick="updateStation($(this).attr('id'),#{totalSeats},#{totalStudents}, #{numPerStation})")
												span(class='stationNumber')=id

			//- Contains submit button
			div(class="row")
				div(class="col-md-offset-6 col-lg-4")
					form(class="form", name="edit_submit", action="/seating_chart", method="post", onsubmit="return checkEmptyStations()")
						//- input(name="className", type="hidden", value="#{className}")
						//- input(name="totalStudents", type="hidden", value="#{totalStudents}")
						//- input(name="totalSeats", class="totalSeats", type="hidden", value="#{totalSeats}")
						//- input(name="width", type="hidden", value="#{width}")
						//- input(name="height", type="hidden", value="#{height}")
						//- input(name="students", class="students", type="hidden", value="JSON.stringify(#{students})")
						input(type="hidden", name="classType", value="#{classType}")
						input(type="hidden", name="seed", value="#{seed}")
						input(type="hidden", class="gridHTML", name="gridHTML", value="")
						input(type="hidden", class="classroom", name="classroom", value="")
						input(type="hidden", class="seatMap", name="seatMap", value="")
						input(type="hidden", class="roster", name="roster", value="#{roster}")
						button(type="submit", class="btn btn-default submitClass") Submit
					script.
						$('.submitClass').click(function() {
							var finalGridContainer = $('.gridContainer').html();
							//- sessionStorage.setItem('all_seats', JSON.stringify(seatMap));
							//- sessionStorage.setItem('width', #{total_width}-1);
							//- sessionStorage.setItem('height', #{total_height}-1);
							//- sessionStorage.setItem('finalGridContainer', finalGridContainer);
							$('.station_item').each(function(index, element){
								globalOrder.push($(element).attr('id'))
							})

							globalClassroom.seatOrder = globalOrder
							globalClassroom.ghostSeats = ghostSeats
							globalClassroom.totalSeats = actualTotal
							$('.gridHTML').val(JSON.stringify(finalGridContainer))
							$('.seatMap').val(JSON.stringify(seatMap))
							$('.classroom').val(JSON.stringify(globalClassroom))
						});
