extends ./layout.jade
block append link
	- if (classType == "lab")
		link(href="css/lab.css", rel="stylesheet")
	- else
		link(href="css/classroom.css", rel="stylesheet")
	link(href="css/seatingChart.css", rel="stylesheet")
block append script
	script(src="js/sort.js")
	script(src="//mrrio.github.io/jsPDF/dist/jspdf.debug.js")
	script(src="//cdnjs.cloudflare.com/ajax/libs/seedrandom/2.4.0/seedrandom.min.js")
	script(src="js/jquery.redirect.js")
	script(src="js/student.js")
	- if (classType == "lab")
		script(src="js/station.js")
	- else
		script(src="js/seat.js")
	script(src="js/finalSeatingChart.js")
	script(src="js/pdfCreator.js")
	script(src="js/email.js")
block prepend bodyLink
	- if (classType == "lab")
		body(onload="loadGrid(#{gridHTML}, #{classroom}, #{seatMap}, #{roster}, #{seed}, \"lab\")")
	- else
		body(onload="loadGrid(#{gridHTML}, #{classroom}, #{seatMap}, #{roster}, #{seed}, \"class\")")

block labActive
	- if(classType == "lab")
		li(class="active")
			a(href="/createLab")
				i(class="glyphicon glyphicon-console")
				|  Create Lab
	- else
		li
			a(href="/createLab")
				i(class="glyphicon glyphicon-console")
				|  Create Lab
block createActive
	- if(classType != "lab")
		li(class="active")
			a(href="/create")
				i(class="fa fa-fw fa-edit")
				|  Create Class
	- else
		li
			a(href="/create")
				i(class="fa fa-fw fa-edit")
				|  Create Class
block content
	- var parsedClass = JSON.parse(classroom)
	- var totalSeats = parsedClass.totalSeats
	- var totalStudents = JSON.parse(roster).students.length
	- var className = parsedClass.className
	- var numPerStation = parsedClass.numPerStation
	div(id='page-wrapper', class="pageContainer")
		div(class="container-fluid")
			div(class="row")
				div(class="col-lg-12")
					h1(class="page-header") Final #[small Your seating chart is finalized]
					ol(class="breadcrumb")
						li
							i(class="fa fa-dashboard")
							a(href="/index")  Dashboard
						li(class="active")
							i(class="fa fa-edit")
							|  Create
					p(class="classHeader") Hover over a cell to see its information
					p(class="classHeader") Click "Download" to download a pdf of the seating chart
			div(class="row")
				div(class="col-md-offset-3 col-lg-6 errorMessage")
			div(class="row")
				div(class="col-lg-12")
					ol(class="breadcrumb")
						li(class="active")
							span(class="glyphicon glyphicon-th-list")
							|  Classroom seating chart for #{className}
					p(class="classInfo") Total Students: #{totalStudents} 
					p(class="classInfo") Total Seats: #{totalSeats} 
					p(class="classInfo") Student(s) per Seat: #{numPerStation}
			//- Modal
			div(class="modal fade" id="myModal" role="dialog")
				div(class="modal-dialog")
					//- Modal Content
					div(class="modal-content")
						div(class="modal-header")
							button(type="button" class="close" data-dismiss="modal") &times;
							h4(class="modal-title") Choose how to format PDF or Email students
						div(class="modal-body")
							form(class="form-horizontal")
								div(class="row")
									div(class="form-group")
										div(class="col-lg-3")
											label(for="pdfName" class="control-label") PDF Name
										div(class="col-lg-5")
											input(type="text", class="form-control", id="pdfName", placeholder="CSE100Quiz5SeatingChart")
								div(class="row")
									div(class="form-group")
										div(class="col-lg-3")
											label(for="pdfTitle" class="control-label") PDF Title
										div(class="col-lg-8")
											input(type="text", class="form-control", id="pdfTitle", placeholder="Pepper Canyon 106 - Quiz 5 Thursday, June 4th - 5pm")
								- if (classType != "lab")
									div.radio
										label
											input(type="radio", name="format", id="row", class="format", value="RowSorted", checked) 
											|Sort By row
									div.radio
										label
											input(type="radio", name="format", id="column", class="format", value="ColumnSorted")
											|Sort By column
								- else
									div.radio
										label
											input(type="radio", name="format", id="grid", class="format", value="GridSorted" checked)
											|Sort By the room layout
									div.radio
										label
											input(type="radio", name="format", id="station", class="format", value="StationSorted")
											|Sort By Station Number
								div.radio
									label
										input(type="radio", name="format", id="sorted", class="format", value="NameSorted") 
										| Sort By Last Name
							input(type="hidden", id="totalStudents", value="#{totalStudents}")
							input(type="hidden", id="totalSeats", value="#{totalSeats}")
							input(type="hidden", id="classroomName", value="#{className}")
							button(type="button", class="btn btn-default", id="downloadRoster") Download
							button(type="button", class="btn btn-default", id="emailRoster") Email Students
							button(type="button", class="btn btn-default", id="close-button" data-dismiss="modal") Close
							script.
								$("input[type='radio']").on('change', function() {
									$("input[type='radio']").not(this).prop('checked', false);
								})
								$('#downloadRoster').click(function() {
									var checked = $("input[type='radio']:checked").val()
									var pdfName = $('#pdfName').val()
									var pdfTitle = $('#pdfTitle').val()
									generatePDF(checked, pdfName, pdfTitle, $('#totalSeats').val(), $('#totalStudents').val())
								})
								$('#emailRoster').click(function() {
									emailRoster($('#classroomName').val())
								})
			div(class="row")
				div(class="col-lg-12")
					div(class="panel panel-default")
						div(class="panel-heading")
							h3(class="panel-title")
								span(class="glyphicon glyphicon-th")
								|  #{className}
							div.content
						div(class="panel-body")
							div(class="finalGridContainer")
			div(class="row")
				div(class="col-md-offset-6 col-lg-4")
					button(class="btn btn-default pop-up-button", data-toggle="modal" data-target="#myModal") Download
					script.
						//- $('.pop-up').hide(0);
						//- $('.pop-up-button').click(function(){
						//- 	$('.pop-up').fadeIn(300);
						//- 	$('.pop-up-button').hide(0);
						//- 	$(window).scrollTop(0);
						//- });
						//- $('.pop-up .ex').click(function() {
						//- 	$('.pop-up').hide(0);
						//- 	$('.pop-up-button').show(0);
						//- });