extends ./layout.jade
block append link
	link(href="seatingChart.css", rel="stylesheet")
	link(href='sb-admin.css', rel='stylesheet')
block append script
	script(src="//mrrio.github.io/jsPDF/dist/jspdf.debug.js")
	script(src="//cdnjs.cloudflare.com/ajax/libs/seedrandom/2.4.0/seedrandom.min.js")
	script(src="jquery.redirect.js")
	script(src="student.js")
	- if (classType == "lab")
		script(src="station.js")
	- else
		script(src="seat.js")
	script(src="finalSeatingChart.js")
	script(src="pdfCreator.js")
	script(src="email.js")
block prepend bodyLink
	- if (classType == "lab")
		body(onload="loadGrid(#{gridHTML}, #{width}, #{height}, #{classroom}, #{students}, #{seed}, \"lab\")")
	- else
		body(onload="loadGrid(#{gridHTML}, #{width}, #{height}, #{classroom}, #{students}, #{seed}, \"class\")")

block labActive
	- if(classType == "lab")
		li(class="active")
			a(href="/createLab")
				i(class="glyphicon glyphicon-console")
				|  Create Lab
	- else
		li
			a(href="/createLab")
				i(class="glyphicon glyphicon-console")
				|  Create Lab
block createActive
	- if(classType != "lab")
		li(class="active")
			a(href="/create")
				i(class="fa fa-fw fa-edit")
				|  Create
	- else
		li
			a(href="/create")
				i(class="fa fa-fw fa-edit")
				|  Create
block content
	div(id='page-wrapper', class="pageContainer")
		div(class="container-fluid")
			div(class="row")
				div(class="col-lg-12")
					h1(class="page-header") Final #[small Your seating chart is finalized]
					ol(class="breadcrumb")
						li
							i(class="fa fa-dashboard")
							a(href="/index")  Dashboard
						li(class="active")
							i(class="fa fa-edit")
							|  Create
					p(class="lead") Hover over a cell to see its information
					p(class="lead") Click "Download" to download a pdf of the seating chart
			div(class="row")
				div(class="col-lg-12")
					ol(class="breadcrumb")
						li(class="active")
							span(class="glyphicon glyphicon-th-list")
							|  Classroom seating chart for #{className}
					p(class="lead") #{totalStudents} Total Students
					p(class="lead") #{totalSeats} Total Seats 
			div.pop-up
				span(class="ex") x
				div.pop-up-text
					h1 Choose how to format pdf
					form(class="form-horizontal rosterFileName")
						div(class="form-group")
							label(for="rosterName" class="col-sm-2 control-label") PDF Name
							input(type="text", class="form-control", id="rosterName", placeholder="CSE100Quiz5SeatingChart", style="width: 200px;")
						div(class="form-group")
							label(for="pdfTitle" class="col-sm-2 control-label") PDF Title
							input(type="text", class="form-control", id="pdfTitle", placeholder="Pepper Canyon 106 - Quiz 5 Thursday, June 4th -5pm", style="width: 400px;")
					- if (classType != "lab")
						div.radio
							label
								input(type="radio", name="format", id="row", class="format", value="RowSorted", checked) 
								|By row
						div.radio
							label
								input(type="radio", name="format", id="column", class="format", value="ColumnSorted")
								|By column
					- else
						div.radio
							label
								input(type="radio", name="format", id="grid", class="format", value="GridSorted" checked)
								|By the room layout
						div.radio
							label
								input(type="radio", name="format", id="station", class="format", value="StationSorted")
								|By Station Number
					div.radio
						label
							input(type="radio", name="format", id="sorted", class="format", value="NameSorted") 
							|Sorted order
					input(type="hidden", id="totalStudents", value="#{totalStudents}")
					input(type="hidden", id="totalSeats", value="#{totalSeats}")
					a(class="btn btn-default", id="downloadRoster", role="button") Download
					a(class="btn btn-default", id="emailRoster", role="button") Email Students
				script.
					$("input[type='radio']").on('change', function() {
						$("input[type='radio']").not(this).prop('checked', false);
					})
					$('#downloadRoster').click(function() {
						generatePDF($("input[type='radio']:checked").val(), $('#rosterName').val(), $('#pdfTitle').val(), $('#totalSeats').val(), $('#totalStudents').val())
					})
					$('#emailRoster').click(function() {
						emailRoster("sample")
					})
			div(class="row")
				div(class="col-lg-12")
					div(class="panel panel-default")
						div(class="panel-heading")
							h3(class="panel-title")
								span(class="glyphicon glyphicon-th")
								|  #{className}
						div(class="panel-body")
							div(class="finalGridContainer")
			div(class="row")
				div(class="col-md-offset-6 col-lg-4")
					button(class="btn btn-default pop-up-button") Download
					script.
						$('.pop-up').hide(0);
						$('.pop-up-button').click(function(){
							$('.pop-up').fadeIn(300);
							$('.pop-up-button').hide(0);
						});
						$('.pop-up .ex').click(function() {
							$('.pop-up').hide(0);
							$('.pop-up-button').show(0);
						});